div.header.clearfix
  nav
    ul.nav.nav-pills.pull-right
      li(role='presentation')
        a(href='/') Home
      li(role='presentation')
        a(href='/api') API
      li(role='presentation')
        a(href='/auth/signup') Sign up
      li(role='presentation')
        a(href='/auth/login') Login
  h3.text-muted PlayaNetworks
