doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='')
    meta(name='author' content='')
    title= title
    include includes/style.pug
  body
    div.container
      include includes/nav.pug
      block content
      include includes/footer.pug
    block script
      include includes/scripts.pug
