extends layouts/base

block content
  div.container
    div.row
      div.col-lg-6.text-center
        span.fa-stack.fa-5x
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-shopping-bag.fa-stack-1x(style='color: white')
        h2 E-Commerce
        p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
        p
      div.col-lg-6.text-center
        span.fa-stack.fa-5x
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-laptop.fa-stack-1x(style='color: white')
        h2 Application Development
        p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
        p
