extends layouts/base

block content
  div.container
    div.row
      div.col-lg-10.col-lg-offset-1.text-center
        img.img-circle.img-center(src='images/logo.png', alt='PlayaNetworks', width='100px' height='100px')
        h4
          string PlayaNetworks
        ul.list-unstyled
          li
            i.fa.fa-envelope-o.fa-fw
            a(href="mailto:playanetworks@gmail.com") playanetworks@gmail.com
        ul.list-inline
          li
            a(href='https://www.facebook.com/playanetworks', target='_blank')
              i.fa.fa-facebook.fa-fw.fa-3x
          li
            a(href='https://twitter.com/playa_networks', target='_blank')
              i.fa.fa-twitter.fa-fw.fa-3x
          li
            a(href='https://www.instagram.com/playa_networks', target='_blank')
              i.fa.fa-instagram.fa-fw.fa-3x
          li
            a(href='https://github.com/playanetworks', target='_blank')
              i.fa.fa-github.fa-fw.fa-3x
